<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
       ">

    <!--ActiveMQ配置-->
    <bean id="activeMqConfig" class="com.tj.common.activemq.prototype.ActiveMqConfig">
        <property name="brokerUrl" value="failover:tcp://180.76.250.235:61616"/>
        <property name="userName" value="admin"/>
        <property name="password" value="admin"/>
        <property name="maxConnections" value="10"/>
        <property name="maxActiveSessionPerConnection" value="50"/>
    </bean>
    <!--配置启动器-->
    <bean class="com.tj.platform.job.common.spring.MQJobPostProcessor"/>

</beans>